<table class='table table-hover table-striped table-inverse'style="background-color:gainsboro;">

  <thead>
    <tr>
      <th nowrap>商品ID</th>
      <th nowrap>商品名</th>
      <th nowrap>税抜価格</th>
      <th nowrap>ジャンル</th>
      <th nowrap >ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% items.each do |item| %>
      <tr>
        <td><%= item.id  %></td>
        <td nowrap><u><%= link_to item.name ,admin_item_path(item.id), class: "text-dark"  %></u></td>
        <td><%= item.price %></td>
        <td nowrap><%= item.genre.name %></td>
        <td nowrap>
        <% if item.is_active == false %>
            <span class="text-success"><strong>販売中</strong></span>
        <% else %>
            <span class="text-secondary"><strong>販売停止中</strong></span>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>