<% provide(:title, "サイトについて") %>

 <div class="text-center">
    <h1 class="font-weight-bold">長野ケーキについて</h1>
     </div>
      <br>

    <div class="container">
        <div class="row">
         <div class="col-xs-6 mx-auto align-items-center">
          <%= image_tag "lemon_cake.jpg", alt: "cake1", :size =>'500x400' %>
        </div>

        <div class="mx-auto align-items-center">
            <br>
            <br>
            <br>
            <h5><u class="font-weight-bold">長野ケーキのこだわり</u></h5>
            <br>
            「太らない健康なケーキ」をコンセプトに、<br>
            無添加、無農薬の素材を使用しております。<br>
            糖分制限のある方でも、糖質を<br>
            気にせずお召し上がりいただけます。<br>
            お気軽にお立ちよりくださいませ！<br>
            <br>
        </div>

        <div class="col-xs-6 mx-auto align-items-center">
            <br>
            <br>
            <br>
            <h5><u class="font-weight-bold">長野ケーキの材料であるオーガニック素材を全国へ！</u></h5>
            <br>
            オーガニック素材を厳選し、体に優しい素材を<br>
            地元長野県の無農薬のファーマーの皆さんに協力して頂き、<br>
            二人三脚でオーガニック素材の啓発活動もしています。<br>
            <br>
            <br>
        </div>
        <br>
        <div class="col-xs-6 mx-auto">
        <%= image_tag "farmer.png", alt: "farmer", :size =>'500x400' %>
        </div>
    </div>
 </div>
<br>