<div class='container'>
    <div class='row'>
        <div class='col-xs-9'>
            <h4>ジャンル編集</h4>
            <%= form_with model: @genre, url: admin_genre_path(@genre.id) do |f| %>
            <%= f.label :ジャンル %>
            <%= f.text_field :name %>
            <%= f.submit '変更を保存', class: 'btn btn-success' %>
            <% end %>
        </div>
    </div>
</div>