<div class='container'>
  <div class='row m-3'>
    <div class='mx-auto'>
    	CopyRight Nagano_cake9
    	<i class="fab fa-facebook-square"></i>
    	<i class="fab fa-twitter"></i>
    	<i class="fab fa-instagram"></i>
    </div>
  </div>
</div>
